footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  svg {
    width: 1.1em !important;
    height: 1.1em !important;
    margin-right: 10px;
  }

  p {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}
